*.o
*.mod
*.a
*.out
*.log
*.inp
*.bmp
lib/**/*
Makefile
*~
FSTR.dbg.[0-9]*
FSTR.msg
FSTR.sta
*.res.[0-9]*
hecmw_vis.ini
*.[0-9]
bin/fistr1
bin/hec2rcap
bin/hecmw_part1
bin/hecmw_vis1
bin/rconv
bin/rmerge
*/Makefile.conf
hecmw1/include/*.h
