*.o
*.mod
*.a
*.out
*.log
*.inp
*.bmp
*.pvtu
*.vtu
*.lst
*.bak
*.BAK
*.DS_Store
lib/**/*
*.neu
dyna_*.txt
Makefile
fistr1.dSYM
*~
FSTR.dbg.[0-9]*
FSTR.msg
FSTR.sta
*.res.[0-9]*
hecmw_vis.ini
*.[0-9]
Makefile.conf
fistr1/src/main/fistr1
fistr1/src/main/FrontISTRConfig.h
fistr1/tools/neu2fstr/neu2fstr
hecmw1/tools/hec2rcap/hec2rcap
hecmw1/tools/partitioner/hecmw_part1
hecmw1/tools/result_file_merger/rmerge
hecmw1/tools/result_type_converter/rconv
hecmw1/tools/visualizer/hecmw_vis1
fistr1/bin
fistr1/include
fistr1/tools/neu2fstr/include
hecmw1/bin
hecmw1/include
examples/*/ex?/hecmw_ctrl.dat
examples/*/ex?/hecmw_part_ctrl.dat
examples/*/ex?/*.msh.*
examples/static/1elem/hecmw_ctrl.dat
examples/static/thermal/hecmw_ctrl.dat
build/
fistr/starter
FrontISTRConfig.h
